<ng-container *transloco="let t; prefix: 'settings.tabs'">
  @if (userService.currentUser(); as currentUser) {
    @if (currentUser) {
      <div class="settings-container">
        <p-tabs [(value)]="activeTab" lazy scrollable>
          <p-tablist>
            <p-tab [value]="SettingsTab.ReaderSettings">
              <i class="pi pi-book"></i> {{ t('reader') }}
            </p-tab>
            <p-tab [value]="SettingsTab.ViewPreferences">
              <i class="pi pi-desktop"></i> {{ t('view') }}
            </p-tab>
            @if (currentUser.permissions.admin || currentUser.permissions.canManageMetadataConfig) {
              <p-tab [value]="SettingsTab.MetadataSettings">
                <i class="pi pi-sliders-h"></i> {{ t('metadata1') }}
              </p-tab>
              <p-tab [value]="SettingsTab.LibraryMetadataSettings">
                <i class="pi pi-database"></i> {{ t('metadata2') }}
              </p-tab>
            }
            @if (currentUser.permissions.admin || currentUser.permissions.canManageGlobalPreferences) {
              <p-tab [value]="SettingsTab.ApplicationSettings">
                <i class="pi pi-cog"></i> {{ t('application') }}
              </p-tab>
            }
            @if (currentUser.permissions.admin) {
              <p-tab [value]="SettingsTab.UserManagement">
                <i class="pi pi-users"></i> {{ t('users') }}
              </p-tab>
            }
            <p-tab [value]="SettingsTab.EmailSettingsV2">
              <i class="pi pi-envelope"></i> {{ t('email') }}
            </p-tab>
            @if (currentUser.permissions.admin || currentUser.permissions.canManageMetadataConfig) {
              <p-tab [value]="SettingsTab.NamingPattern">
                <i class="pi pi-sitemap"></i> {{ t('patterns') }}
              </p-tab>
            }
            @if (currentUser.permissions.admin) {
              <p-tab [value]="SettingsTab.AuthenticationSettings">
                <i class="pi pi-lock"></i> {{ t('authentication') }}
              </p-tab>
            }
            @if (currentUser.permissions.admin || currentUser.permissions.canAccessTaskManager) {
              <p-tab [value]="SettingsTab.Tasks">
                <i class="pi pi-list-check"></i> {{ t('tasks') }}
              </p-tab>
            }
            @if (currentUser.permissions.admin) {
              <p-tab [value]="SettingsTab.AuditLogs">
                <i class="pi pi-history"></i> {{ t('auditLogs') }}
              </p-tab>
            }
            <p-tab [value]="SettingsTab.OpdsV2">
              <i class="pi pi-globe"></i> {{ t('opds') }}
            </p-tab>
            <p-tab [value]="SettingsTab.DeviceSettings">
              <i class="pi pi-mobile"></i> {{ t('devices') }}
            </p-tab>
          </p-tablist>
          <div class="settings-tab-content" role="tabpanel">
            @switch (activeTab) {
              @case (SettingsTab.ReaderSettings) {
                <app-reader-preferences />
              }
              @case (SettingsTab.ViewPreferences) {
                <app-view-preferences-parent />
              }
              @case (SettingsTab.MetadataSettings) {
                <app-metadata-settings-component />
              }
              @case (SettingsTab.LibraryMetadataSettings) {
                <app-library-metadata-settings-component />
              }
              @case (SettingsTab.ApplicationSettings) {
                <app-global-preferences />
              }
              @case (SettingsTab.UserManagement) {
                <app-user-management />
              }
              @case (SettingsTab.EmailSettingsV2) {
                <app-email-v2 />
              }
              @case (SettingsTab.NamingPattern) {
                <app-file-naming-pattern />
              }
              @case (SettingsTab.AuthenticationSettings) {
                <app-authentication-settings />
              }
              @case (SettingsTab.Tasks) {
                <app-task-management />
              }
              @case (SettingsTab.AuditLogs) {
                <app-audit-logs />
              }
              @case (SettingsTab.OpdsV2) {
                <app-opds-settings />
              }
              @case (SettingsTab.DeviceSettings) {
                <app-device-settings-component />
              }
            }
          </div>
        </p-tabs>
      </div>
    }
  }
</ng-container>
